<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic Model</title>
    <style>
img {
  position: relative;
  left: 450px;
  top: 10px;
}
</style>
</head>
<body>
    <img src="https://th.bing.com/th/id/R.7a4c80ce9f0477332b90d89f23c3f9ad?rik=1W7jUWYsdR6%2fpA&pid=ImgRaw&r=0" alt="Titanic Img"  width="400" height="300">
    <h1 style="text-align:center;">Predict Who Will survive</h1>

<!--        Age-->
<!--        <label for="age" >Age</label><br>-->
<!--        <input type="text" id="age" name="age" ><br>-->
<!--&lt;!&ndash;        Pclass&ndash;&gt;-->
<!--        <label for="pclass">Pclass</label><br>-->
<!--        <input type="text" id="pclass" name="pclass" ><br>-->
<!--&lt;!&ndash;        sibsp&ndash;&gt;-->
<!--        <label for="sibsp">Sibsp</label><br>-->
<!--        <input type="text" id="sibsp" name="sibsp" ><br>-->
<!--&lt;!&ndash;        parch&ndash;&gt;-->
<!--        <label for="parch" >Parch</label><br>-->
<!--        <input type="text" id="parch" name="parch" ><br>-->
<!--&lt;!&ndash;        // gender&ndash;&gt;-->
<!--        <label for="gender">Gender</label><br>-->
<!--        <input type="text" id="gender" name="gender" ><br>-->
<!--        submit-->
        <form method="post"  action= "{{ url_for('predict') }}" >
            {{ form.csrf_token }}
            {{ form.age.label }} {{ form.age }}<br>

            {{ form.pclass.label }} {{ form.pclass }}<br>

            {{ form.sibsp.label }} {{ form.sibsp }}<br>

            {{ form.parch.label }} {{ form.parch }}<br>

            {{ form.gender.label }} {{ form.gender }}<br>

        <input type="submit" value="Submit">
    </form>


</body>
</html>